<div data-sidebar-target="overlay" class="overlay hidden lg:hidden"></div>
<aside data-sidebar-target="aside" class="sidebar">
  <div class="sidebar-head">
    <h1 class="h4 truncate">Applog space</h1>
    <button type="button" data-action="sidebar#closeSidebar" class="sidebar-close">
      <%= octicon "x", fill: "currentColor", height: 24 %>
    </button>
  </div>
  <nav>
    <a href="#" class="sidebar-item" aria-selected="true">
      <%= octicon "repo", fill: "currentColor" %>
      <span>Posts</span>
    </a>
    <a href="#" class="sidebar-item">
      <%= octicon "tag", fill: "currentColor" %>
      <span>Labels</span>
    </a>
    <a href="#" class="sidebar-item">
      <%= octicon "people", fill: "currentColor" %>
      <span>Team members</span>
    </a>
    <a href="#" class="sidebar-item">
      <%= octicon "cpu", fill: "currentColor" %>
      <span>Widgets</span>
    </a>
    <a href="#" class="sidebar-item">
      <%= octicon "gear", fill: "currentColor" %>
      <span>Settings</span>
    </a>
    <a href="#" class="sidebar-item">
      <%= octicon "history", fill: "currentColor" %>
      <span>Subscriptions</span>
    </a>
    <a href="#" class="sidebar-item">
      <%= octicon "credit-card", fill: "currentColor" %>
      <span>Billings</span>
    </a>
    <hr>
    <a href="#" class="sidebar-item">
      <%= octicon "eye", fill: "currentColor" %>
      <span>View posts</span>
    </a>
  </nav>
</aside>
