<%= render "templates/focused", title: "Sign in to your account" do %>
  <%= form_with url: sessions_path, data: { controller: "form", action: "turbo:submit-end->form#onError" }, class: "box-body" do |form| %>
    <div class="form-group">
      <%= form.label :email_address %>
      <%= form.email_field :email_address, class: "form-control", required: true %>
    </div>
    <div class="form-group">
      <div class="flex items-center justify-between">
        <%= form.label :password %>
        <a href="#" class="mb-1 h5">Forgot password?</a>
      </div>
      <%= form.password_field :password, class: "form-control", required: true %>
    </div>
    <%= render "shared/form_error", error_type: "invalid" %>
    <div class="form-group">
      <%= form.submit "Sign in", data: { form_target: "submitBtn" }, class: "btn btn-primary btn-block" %>
    </div>
  <% end %>
  <%= content_for :footer do %>
    <p class="text-center">
      Don't have an account?
      <%= link_to "Sign up", new_user_path, class: "h5" %>
    </p>
  <% end %>
<% end %>
