<%= render "templates/focused", title: "Create your project" do %>
  <%= form_with model: [:app, @project],
    data: { controller: "form", action: "turbo:submit-end->form#onError" },
    class: "box-body" do |form|
  %>
    <div class="form-group">
      <%= form.label :name, "Project name" %>
      <%= form.text_field :name,
        class: "form-control",
        placeholder: "My cool project",
        autocomplete: "off",
        required: true
      %>
      <%= render "shared/form_error", error_type: "name" %>
    </div>
    <div class="form-group">
      <%= form.label :description do %>
        Description <span class="f5 text-gray">(optional)</span>
      <% end %>
      <%= form.text_area :description, class: "form-control", rows: 3, placeholder: "Start typing here..." %>
      <%= render "shared/form_error", error_type: "description" %>
    </div>
    <div class="form-group form-actions flex items-center justify-end">
      <%= link_to "Cancel", :back, class: "btn" %>
      <%= form.submit class: "btn btn-primary", data: { form_target: "submitBtn" } %>
    </div>
  <% end %>
<% end %>
